<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <script src="https://kit.fontawesome.com/68d9ef9e6f.js" crossorigin="anonymous"></script>

  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/register.css' />
  <link rel="icon" href="/images/project-management.png" type="image/png">

</head>
<body>
<div class="container">
  <form method="post" action="/users/save-user">
    <h2>Registracija</h2>
    <div class="form-group">
      <label for="first_name">Ime</label>
      <input type="text" class="form-control" id="first_name" placeholder="Unesi ime" autocomplete="given-name" name="first_name" required>
      <div class="valid-feedback">Validno.</div>
      <div class="invalid-feedback">Ovo polje je obavezno.</div>
    </div>
    <div class="form-group">
      <label for="last_name">Prezime</label>
      <input type="text" class="form-control" id="last_name" placeholder="Unesi prezime" autocomplete="family-name" name="last_name" required>
      <div class="valid-feedback">Validno.</div>
      <div class="invalid-feedback">Ovo polje je obavezno.</div>
    </div>
    <div class="form-group">
      <label for="email">E-mail</label>
      <input type="email" class="form-control" id="email" placeholder="Unesi korisnicko ime" autocomplete="email" name="email" required>
      <div class="valid-feedback">Validno.</div>
      <div class="invalid-feedback">Ovo polje je obavezno.</div>
    </div>
    <div class="form-group">
      <label for="password">Šifra</label>
      <input type="password" class="form-control" id="password" placeholder="Unesi sifru" autocomplete="on" name="password" required>
      <div class="valid-feedback">Validno.</div>
      <div class="invalid-feedback">Ovo polje je obavezno.</div>
    </div>
    <div class="form-group">
      <label for="age">Godine</label>
      <input type="number" class="form-control" id="age" autocomplete="on" name="age" required>
      <div class="valid-feedback">Validno.</div>
      <div class="invalid-feedback">Ovo polje je obavezno.</div>
    </div>
    <a class="zabSif" href="#">Zaboravili ste šifru?</a>
    <div class="form-group form-check">
        <div class="valid-feedback">Validno.</div>
        <!--<div class="invalid-feedback">Prihvati uslove koristenja.</div>-->
      </label>
    </div>
    <button type="submit" class="btn" >Registruj se</button>
    <p>ili</p>
    <a class="reg" href="/users/login">Prijavi se</a>

  </form>
</div>
</body>
</html>