:root{
  --plava: #161d3b;
  --narancasta: #fa8c45;
  --bijela: #ffffff;
  --siva1: #f7f5f4;
  --siva2: #e1e1e1;
  --siva3: #939394;
  --pozadina: #0093E9 linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  --pozadinaButton: #0093E9 linear-gradient(160deg, #80D0C7 0%, #0093E9 100%);
  --pozadinaButtonTamna: #0077CC linear-gradient(160deg, #66B2B8 0%, #0077CC 100%);

}


body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: calc(100vh - 2px);
  display: grid;
  place-items: center;
  background: var(--pozadina);
}


.container {
  border: 0;
  height: 70%;
  width: 25%;
  display: grid;
  overflow: hidden;
  border-radius: 15px;
  background-color: var(--siva1);
}

.container form h2{
  display: grid;
  place-content: center;
  margin: 20% 0 30% 0;
  font-weight: bold;
  color: var(--plava);
}
body form{
  position: relative !important;
  width: 80%;
  left: 10%;
}

.container form input{
  border-width: 0 0 4px 0 ;
  background-color: inherit;
}
.container form input:hover{
  border-color: var(--plava);
}

.container form input:active,
.container form input:focus{
  background-color: inherit;
  outline: none;
  border-color: var(--siva2);
}

.container form button{
  background: var(--pozadinaButton);
  color: white;
  border-radius: 20px;
  width: 100%;
  margin-top: 60px;

}
.container form button:hover{
  background: var(--pozadinaButtonTamna);
  color: var(--bijela);
}
.container form .reg{
  color: blue;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 130px;
  text-decoration: underline;
}
.container form .zabSif{
  color: blue;
  position: absolute;
  left: 60%;
  transform: translateX(17%);
  text-decoration: underline;
}
.container form p{
  color: var(--plava);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
}
.container form label{
  color: var(--plava);
  font-weight: bold;
}

@media screen and (max-width: 1200px) {
  .container {
    height: 60%;
    width: 45%;
  }
  .container form h2{
    margin: 10% 0 20% 0;

  }
}

